/* variables.css */
:root{
 --fontfam:Arial, Helvetica, sans-serif;

 --backgroundGrey:  #EEEEEE;
 --backgrounddarkgrey: #DDDDDD;
--backgroundlightgrey: #e8e8e8;


 --headline: #ffb595;

 --lightBlue: #b5d6f8;
 --headerFooterWrite: #022B3A;
 --darkestBlue:#2A4759;
 --backgroundWhite: #fffdf6e6;

 --buttonwhite:  #b4bec2;
 --buttonchange: #003366;
 --buttonwritechange:#ffffff; 

 --borderImage: #ffffff;

 --balckWriting: #333333;
 --greyWriting:#666666;

 --transitionspeed: 0.5s;

 --boxshadow: 0 2px 5px #060606;
 --boxshadowblue: 0 3px 5px #4b759f;

 

}
